<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395722967894-f64hbt35dnk7au478etm6ntvjrkobp7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395722967894-f64hbt35dnk7au478etm6ntvjrkobp7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>395722967894-m1lshllam1aafjpbrgm8pj47ea0nd5vi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6vF08ovULWbPGMg54zJ7sMucJu0GlBtI</string>
	<key>GCM_SENDER_ID</key>
	<string>395722967894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFirebaseSetup</string>
	<key>PROJECT_ID</key>
	<string>fir-setup-784cd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-setup-784cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395722967894:ios:17ba7f71a020b3503764f7</string>
</dict>
</plist>